<h1> Editer le Gossip </h1>

<%= form_for @gossip do |f| %>
<div class="form_group">title: 
  <%= f.text_field :title %>
</div>
<div class="form_group">title: 
  <%= f.text_field :content %>
</div>  
<div class="form-group">  
  <%= f.submit %>
</div>
<% end %>
