<%= form_for @gossip, url: {action: "create"} do |f| %>
  Auteur<br>
  <div class="form_group">
    <%= f.text_field :title %>
  </div>
  Gossip:
  <div class="form_group">
    <%= f.text_area :content %>
  </div>
  <div class="form_group">
    <%= f.submit "Create" %>
  </div>
<% end %>

