<!-- Team -->
<section class="content-section bg-white text-dark" id="team">
  <div class ="container p-5">
    <div class="row">
      <div class="col-lg-6 mb-5 mt-5">
        <h1 class="display-4">Hugo Maitre</h1>
        <p>Le Géotrouve-tout de l'équipe</p> 
        Rendre vos potins plus vivants que jamais. Redonner aux ragôts leur lettre noblesse, telle est la mission d'Hugo<p><br><strong>Initiateur du projet, Hugo a compris que le gossipage avait encore de longues années devant lui.</strong></p></p>
      </div>
      <div class="col-lg-6 mb-5 mt-5">
        <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">
      </div>
    </div>
  </div>
  <div class ="container p-5">
    <div class="row">
      <div class="col-lg-6 mb-5 mt-5">
        <h1 class="display-4">Cédric Mesas</h1>
        <p>Le Daffy Duck de la Team</p> 
        Casser le bec de ceux qui n'aiment pas le gossip et clouer celui qui bitchera le dernier.<br><br>
        Trouver le plus bel angle à vos râgots, c'est le job de Cédric.<p><br><strong>Toujours là pour faire envenimer les choses, vos gossips ont trouvé leur plume.</strong></p></p>
      </div>
      <div class="col-lg-6 mb-5 mt-5">
        <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">
      </div>
    </div>
  </div>
</section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>