<!-- Content ID - USER -->
<section class="py-5">
            <div class="container">
                <h1 class="mb-4">Quelques mots sur toi</h1>
                <div class="row">
                    <div class="col-lg-4 mb-4 mb-lg-0">
                        <div class="card h-100">
                            <h4 class="card-header">Ton compte</h4>
                            <div class="card-body"><p class="card-text">Ton nom <%= User.where(first_name:params[:user_first_name]).map{|u| u.last_name}.join %>
                            <br> Ton prénom :<%= params[:user_first_name]%> </p></div>
                        </div>
                    </div>
                    <div class="col-lg-8 mb-4 mb-lg-0">
                        <div class="card h-100">
                            <h4 class="card-header">Ta vie sur le Gossip Project</h4>
                            <div class="card-body"><p class="card-text">
                            Le nombre de gossip que tu as écrit : <%= Gossip.where(user_id:User.where(first_name:"#{params[:user_first_name]}").map{|u| u.id}.join).map{|u| u.id}.length %>
                            <!-- Cette partie sera à corriger car il peut y'avoir plusieurs users avec le meme prenom -->
                            <br>Le nombre de gossip que tu as modifié :</p></div>
                        </div>
                    </div>
                </div>
            </div>
</section>
